<strong>Olá, {{studentName}} </strong>
<p>Seja bem-vindo a nossa academia Gympoint, você terá o melhor suporte para chegar no corpo perfeito.
 Confira os detalhes da sua inscrição abaixo:
</p>
<p>
  <strong>Plano: </strong>{{planName}} <br />
  <strong>Valor individual do plano: </strong>{{planPrice}} <br />
  <strong>Valor total: </strong>{{priceTotal}} <br />
  <strong>Data inicial: </strong>{{start_date}} <br />
  <strong>Data final: </strong>{{end_date}} <br />
</p>
